body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(45deg, #92a0b0, #ffffff);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

.inscripciones-container {
    font-family: 'Roboto', sans-serif;
    padding-top: 10vh;
    z-index: 1; 
}

.inscripciones-content {
    margin-top: 4rem;
    text-align: center;
    color: #333;
    animation: fadeIn 1s ease-out;
    position: relative; 
    z-index: 2; 
}

.inscripcion-header {
    margin-bottom: 2rem;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    color: #072c56;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.sub-title {
    font-size: 1.2rem;
    color: #555;
    font-weight: 400;
}

.dates-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}

.info-box {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.info-box:hover {
    transform: translateY(-5px);
}

.info-title {
    font-size: 1.5rem;
    color: #072c56;
    font-weight: 500;
    margin-bottom: 1rem;
}

.date {
    background-color: #f5f7fb;
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 1.3rem;
    color: #333;
    font-weight: 600;
}

/* Contador de tiempo */
.countdown-container {
    margin-top: 3rem;
    background: #072c56;
    padding: 3rem;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.countdown-title h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.countdown-timer {
    font-size: 1.5rem;
}

.countdown {
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    animation: countdownAnimation 1s ease-out;
}

@keyframes countdownAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.info-description {
    margin-top: 3rem;
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}

.info-description p {
    max-width: 800px;
    margin: 0 auto;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cta-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #3e546d;
    color: white;
    padding: 1rem 2rem;
    border-radius: 50px;
    font-size: 1.1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.cta-button:hover {
    transform: scale(1.1);
    background-color: #60c591;
}

@media (max-width: 768px) {
    .dates-info {
        grid-template-columns: 1fr;
    }

    .cta-button {
        bottom: 1.5rem;
        right: 1.5rem;
        padding: 0.8rem 1.8rem;
    }
}

