/* @keyframes wigle-x{
    0%, 100%{
        transform: translateX(0);
    }

    50%{
        transform: translateX(10px);
    }
}

.wigle-x {
    animation: wigle-x 1s ease-in-out infinite;
} animacion para qeu el boton se vaya de un lado a otro  */

@keyframes animacion{
    0%, 100%{
        box-shadow: 0 0 0 0 rgb(0, 254, 255, 0.6);
        transform: scale(1);
    }
    50%{
        box-shadow: 0px 0px 20px 10px rgb(0, 255, 255, 0.3);
        transform: scale(1.08);
    }
}

.animacion{
    animation: animacion 2s ease-in-out infinite;
}