*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    font-family: "Rubik",sans-serif;
    background-color: transparent;
    border: 1px solid;
    color: indianred;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    height: 50px;
    transition: 0.5s ease;
}

button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
}

.contenedor{
    position: relative;
    width: 1280px;
    height: 720px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #767676;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #ffffff;
}

.contenedor .contenedor{
    width: 100%;
    display: flex;

}

.contenedor .introducir{
    position: relative;
    width: 405px;
    height: 100%;
    z-index: 20;
}

