.quienes-container {

background-image: url('../../src/img/imagen1.jpg');
background-size: cover;
background-position: center;
height: 400px;
display: flex;
align-items: center;
justify-content: center;
color:white;

}
  .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
}
.titulo {
    font-size: 2.5rem;
    font-weight: bold;
}
.subtitulo {
    margin-top: 1rem;
    font-size: 1.2rem;
}
.descripcion {
    margin-top: 1rem;
    font-size: 1rem;
}